body {
	margin: 0;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}
.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}


.login-section {
	display: flex;
	flex-direction: column;
  }
  
  .login-btn {
	background: #21bf96;
	color: #fff;
	padding: 13px 35px;
	font-size: 24px;
	border: none;
	font-weight: 600;
	cursor: pointer;
  }
  
  .instruction {
	text-align: center;
	color: #21bf96;
	color: #feba35;
	margin: 1rem 0;
  }
  
  /* DASHBOARD SECTION */
  
  .dashboard-section {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .wallet-status {
	font-size: 54px;
	color: #21bf96;
	letter-spacing: 1.5px;
  }
  
  .wallet-address-heading,
  .wallet-balance-heading {
	color: white;
	letter-spacing: 1.5px;
	margin-top: 1rem;
	text-align: center;
  }
  
  .wallet-balance,
  .wallet-address {
	color: #feba35;
	letter-spacing: normal;
	display: block;
	margin-top: 1rem;
	background: #000;
	padding: 8px;
	border-radius: 19px;
  }
  .user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}
.rounded-circle {
    border-radius: 50%!important;
}
.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}
.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
  .logout-btn {
	color: white;
	background: #cc0000;
	padding: 13px 35px;
	font-size: 24px;
	border: none;
	font-weight: 600;
	cursor: pointer;
	margin-top: 40px;
  }

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}
.rounded-circle {
    border-radius: 50%!important;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}
